Pong/Pong/Pong/Pong/Service References/WebService/GMRPongService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GMRPongWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GMRPongWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="x" type="xs:float" />
      <xs:element minOccurs="0" name="y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Score">
    <xs:sequence>
      <xs:element minOccurs="0" name="leftScore" type="xs:int" />
      <xs:element minOccurs="0" name="rightScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Score" nillable="true" type="tns:Score" />
  <xs:simpleType name="GameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Classic" />
      <xs:enumeration value="PingPong" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameType" nillable="true" type="tns:GameType" />
</xs:schema>