Pong/Pong/Pong/Pong/Service References/WebService/GMRPongService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49252/GMRPongService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GMRPongWCF" />
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlayerPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPlayerPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GMRPongWCF" minOccurs="0" name="getPlayerPositionResult" nillable="true" type="q1:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPlayerPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="player" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GMRPongWCF" minOccurs="0" name="position" nillable="true" type="q2:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPlayerPositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBallPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBallPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GMRPongWCF" minOccurs="0" name="GetBallPositionResult" nillable="true" type="q3:Position" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GMRPongWCF" minOccurs="0" name="GetScoreResult" nillable="true" type="q4:Score" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GMRPongWCF" minOccurs="0" name="gameType" type="q5:GameType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GMRPongWCF" minOccurs="0" name="GetGameTypeResult" type="q6:GameType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>