Pong/Pong/Pong/Pong/Service References/WebService/GMRPongService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GMRPongWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GMRPongWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="GameMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Classical" />
      <xs:enumeration value="PingPong" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMode" nillable="true" type="tns:GameMode" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ball" nillable="true" type="tns:Ball" />
      <xs:element minOccurs="0" name="_gameMode" type="tns:GameMode" />
      <xs:element minOccurs="0" name="_h" type="xs:int" />
      <xs:element minOccurs="0" name="_w" type="xs:int" />
      <xs:element minOccurs="0" name="paddle1Position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="paddle2Position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="score1" type="xs:int" />
      <xs:element minOccurs="0" name="score2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Ball">
    <xs:sequence>
      <xs:element minOccurs="0" name="_position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="_r" type="xs:int" />
      <xs:element minOccurs="0" name="_speed" nillable="true" type="tns:Speed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ball" nillable="true" type="tns:Ball" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="_x" type="xs:float" />
      <xs:element minOccurs="0" name="_y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="Speed">
    <xs:sequence>
      <xs:element minOccurs="0" name="_x" type="xs:float" />
      <xs:element minOccurs="0" name="_y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Speed" nillable="true" type="tns:Speed" />
</xs:schema>